@import url(//fonts.googleapis.com/css?family=Indie+Flower);

.page-heading {
    margin: 20px 0;
    color: #666;
    -webkit-font-smoothing: antialiased;
    font-family: "Patrick Hand SC";

}

#my-dropzone .message {
    font-family: "Patrick Hand SC";
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    color: #1b1b1b;
    font-size: 15px;

}

.dropzone {
    border: 2px dashed #0087F7;
    background: #fcffb3;
    border-radius: 5px;
    min-height: 10px;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}
