@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);

html, body {
    min-height: 100%;
    
    background-image: radial-gradient(ellipse farthest-corner,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #acacac 0, #dadada 30%, #f2f2f2 50%, #dadada 70%, #acacac 100%);
    background-size: 4px 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px 4px, 100% 100%;
}




h2, h4, h5, .players, .navbar, .datetime, .statut, .card {
    font-family: Indie Flower, serif;
    color: #4e555b;
}

table td {
    word-wrap: break-word;
}

.form-control {

    border: solid #404040;
    /*top droite bottom gauche*/
    border-width: 1px 2px 1px 3px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;

    background-image: radial-gradient(ellipse farthest-corner,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #ffce55 0, #fffc83 30%, #ffffb1 50%, #fffc83 70%, #ffce55 100%);
    background-size: 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px 4px, 100% 100%;

}

.card {
    background-image: radial-gradient(ellipse farthest-corner,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #acacac 0, #dadada 30%, #f2f2f2 50%, #dadada 70%, #acacac 100%);
    background-size: 4px 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px 4px, 100% 100%;
}

.container {
    color: #000000;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}


.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn {
    color: #f4f3ff;
    border: #f4f3ff;
}

#parties {
    color: #4e555b;
    border: 2px solid #1b1b1b
}

#partiesLink {
    color: #4e555b;
    border: 2px solid #f4f3ff
}

.inPage {
    color: #404040;
    font-family: Indie Flower;
}

.modal-dialog {
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

/*Specific to gamesessions view*/

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #404040;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 5%;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.gameSessionTitleInput {
    width: 100%;
}

#showgamesession h2 {
    color: #000000;

}

.card {
    background-color: #F9F5D7;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px #41403E;
}

#buttonsrow {
    background-color: #F9F5D7;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px #41403E;
}

#orderdisplay {
    background-color: #F9F5D7;

}

#showgamesession {

    background-color: #F9F5D7;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px #41403E;
}

/* Gradient color1 - color2 - color1 */

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.big {
    font-size: 84px;
    margin-bottom: -.75em;
}
.title {
    font-family: "Bangers";
    margin: 0 0 -1em 0;
    text-shadow: -1px -1px yellow, 1px 1px orange,  2px 2px orange;
    padding-bottom: 50px;
    float: left;
    width: 100%;
}

.yellow{


}