@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body {
    min-height: 100%;
}
body {
    color: #404040;
    background: #282537;
    background-image: -webkit-radial-gradient(circle at top, #3c3b52 0%, #252233 80%);
    background-image: -moz-radial-gradient(circle at top, #3c3b52 0%, #252233 80%);
    background-image: -o-radial-gradient(circle at top, #3c3b52 0%, #252233 80%);
    background-image: radial-gradient(circle at top, #3c3b52 0%, #252233 80%);
}

table td {word-wrap:break-word;}
.container {
    margin:0px;
    color: #1b1b1b;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    font-family: Indie Flower;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn{ color: #f4f3ff;
    border: #f4f3ff;
}

#parties{ color : #4e555b;
    border: 2px solid #1b1b1b
}
#partiesLink{ color : #4e555b;
    border: 2px solid #f4f3ff
}

.inPage{
    color: #404040;
    font-family: Indie Flower;}

.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #404040;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


.gameSessionTitleInput{

    width : 100%;
}

