@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body {
    min-height: 100%;

    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #484848 0, #959595 30%, #acacac 50%, #959595 70%, #484848 100%);
    background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}

h2, h4, h5, .players, .navbar, .datetime, .statut, .card {
    font-family: "Patrick Hand SC";
    font-style: italic;
    color: #4e555b;
}

table td {
    word-wrap: break-word;
}

.row-title {

    height: 150px;
}

.btn.btn-link {
    font-family: "Patrick Hand SC";
    font-style: italic;
    color: #4e555b
}

label {
    margin: 5px;
    padding: 5px;
    background: #fcffb3;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
}

.form-control, .gameSessionTitleInput, .gameInput {

    margin-top: 5px;
    padding: 5px;
    border: solid #404040;
    /*top droite bottom gauche*/
    border-width: 1px 2px 1px 3px;
    border-radius: 0% 4% 5% 5%/4% 0% 6% 5%;

    background-image: radial-gradient(ellipse farthest-corner,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #ffce55 0, #fffc83 30%, #ffffb1 50%, #fffc83 70%, #ffce55 100%);
    background-size: 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px 4px, 100% 100%;

}

.card {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #038ecf 0, #51cbf1 30%, #7ff9ff 50%, #51cbf1 70%, #038ecf 100%);
    background-size: 4px 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px 4px, 100% 100%;
}

.card-body {

    font-size: 18px;
}

.card-header {

    font-family: Bangers;
    color: yellow;
    font-size: 3em;
    margin-bottom: 0;
    text-shadow: -1px -1px black, 1px 1px black, 2px 2px black;
    font-weight: 400;

}

.container {
    color: #000000;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn {
    color: #f4f3ff;
    border: #f4f3ff;
}

#parties {
    color: #4e555b;
    border: 2px solid #1b1b1b
}

#partiesLink {
    color: #4e555b;
    border: 2px solid #f4f3ff
}

.inPage {
    color: #404040;
    font-family: Indie Flower;
}

.modal-dialog {
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

/*Specific to gamesessions view*/

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #404040;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 5%;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.gameSessionTitleInput {
    width: 100%;
}

#showgamesession h2 {
    color: #000000;

}

.card {
    background-color: #F9F5D7;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px #41403E;
}

#buttonsrow {
    background-color: #F9F5D7;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px #41403E;
}

#orderdisplay {
    background-color: #F9F5D7;

}

#showgamesession {

    background-color: #F9F5D7;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px #41403E;
}

/* Gradient color1 - color2 - color1 */

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.big {
    font-size: 84px;
    margin-bottom: -.75em;
}

.title {
    font-family: "Bangers";
    margin: 0 0 -1em 0;
    text-shadow: -1px -1px yellow, 1px 1px orange, 2px 2px orange;
    padding-bottom: 50px;
    float: left;
    width: 100%;
}

.btn.btn-primary {
    font-family: "Patrick Hand SC";
    font-style: italic;
    align-self: center;
    transition: all .5s ease;
    color: #41403E;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .4);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    background-image: radial-gradient(ellipse farthest-corner,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%,
            #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #ffce55 0, #fffc83 30%, #ffffb1 50%, #fffc83 70%, #ffce55 100%);
    background-size: 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px 4px, 100% 100%;

}

.btn.btn-secondary {
    font-family: "Patrick Hand SC";
    font-style: italic;
    align-self: center;
    transition: all .5s ease;
    color: #41403E;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .4);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #038ecf 0, #51cbf1 30%, #7ff9ff 50%, #51cbf1 70%, #038ecf 100%);

    background-size: 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px 4px, 100% 100%;

}

.btn.btn-warning {
    font-family: "Patrick Hand SC";
    font-style: italic;
    align-self: center;
    transition: all .5s ease;
    color: #41403E;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .4);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #fa9939 0, #ffc767 30%, #fff595 50%, #ffc767 70%, #fa9939 100%);

    background-size: 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px 4px, 100% 100%;

}

.btn.btn-danger {
    font-family: "Patrick Hand SC";
    font-style: italic;
    align-self: center;
    transition: all .5s ease;
    color: #41403E;
    font-size: 20px;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .4);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);

    background-size: 2px 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px, 4px, 100% 100%;

}

.btn.btn-primary:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

.btn.btn-secondary:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

.btn.btn-warning:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

.btn.btn-danger:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

.lined.thin {
    border: solid 2px #41403E;
}

.lined.thick {
    border: solid 7px #41403E;
}

/*cards*/

.map-background {
    background-image: url(http://wrap.mytopo.com/wrap/netmapwrapper_mytopo.aspx?VERSION=1.1.1&REQUEST=GetMap&layers=drg,hillshade&map=\Mapserver\mapfiles\zone18.map&width=500&height=500&bbox=357614,4110192.07523,360114,4112692.07523&srs=EPSG:26918&format=image/jpeg);
    background-size: cover;
}

#card_container {
    border: 10px solid #ffffff;
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 50px
}

#card_container_large {
    border: 10px solid #ffffff;
    box-sizing: border-box;
    width: 450px;
    height: 250px;
    position: relative;
    margin: 50px
}

#card_container_auto {
    border: 10px solid #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;

}

#card {
    border: solid 4px #41403E;

    color: #fff;
    padding: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /*box-shadow:0px 45px 100px rgba(0, 0, 0, 0.4), inset 0 0 0 1000px rgba(156, 27, 27, 0.6);*/
    box-shadow: 0px 45px 100px rgba(0, 0, 0, 0.4), inset 0 0 0 1000px rgba(0, 76, 86, 0.6);
}

#card .text-block {

    position: relative;
    z-index: 2;

}

#card .text-block h1 {

    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

#card .text-block h1 small {
    font-size: .4em;
    color: #ccc;
    position: relative;
    bottom: 10px;
}

#card .text-block h3 {
    margin: 0;
    font-weight: 700;
}

#card .text-block p {
    font-weight: 300;
    width: 60%;
    font-family: "Patrick Hand SC";
    font-style: italic;
}

#card .text-block button {
    transition: all 0.35s cubic-bezier(0.37, 0.26, 0.35, 1);
    border: 4px solid #fff;
    padding: 10px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

#card .text-block button:hover {
    background: #004c56;
}

#card_container .pg {
    position: absolute;
    height: 450px;
    width: 40%;
    right: -10px;
    bottom: 0px;
    z-index: 2;
}

#card_container .pg > img {
    height: 450px;
}

.shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 60%);
    z-index: 1;
}

button {
    color: #fff;
}

.welcome-card-title {
    font-family: Bangers;
    margin: 0 0 -1em 0;
    text-shadow: -1px -1px #404040, 1px 1px #000000, 2px 2px #000000;
    float: left;
    width: 100%;

}

.evenboxinner {
    font-family: "Patrick Hand SC";
    font-style: italic;
    font-size: 20px;
    z-index: 2;
    margin: 2px;
    padding: 0 5px;
    position: relative;
    float: right;
    background: #fcffb3;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
}

/*colors*/

.yellow {
    color: #ffce55;
}

.green {
    color: #9dc705;
}

.orange {
    color: #fa9939;
}

.red {
    color: #f3655d;
}

.blue {
    color: #51cbf1;
}

.violet {
    color: rgb(255, 111, 193);
}

.white {
    color: #ffffff;
}

/*navbar*/

.navbar {
    font-size: 25px;
}

#accueil {
    color: #4e555b;
    font-size: 25px;
}

/*backgrounds*/
.green-bg {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #9dc705 0, #cbf533 30%, #f9ff61 50%, #cbf533 70%, #9dc705 100%);
    background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}

.red-bg {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #bd2d10 0, #f4502f 30%, #ff6e51 50%, #f4502f 70%, #bd2d10 100%);
    background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}

.blue-bg {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #038ecf 0, #51cbf1 30%, #7ff9ff 50%, #51cbf1 70%, #038ecf 100%);
    background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}

.orange-bg {
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%),
    radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%),
    radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(40deg, #fa9939 0, #ffc767 30%, #fff595 50%, #ffc767 70%, #fa9939 100%);
    background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}

/*modals*/

.modal-title {
    font-family: Bangers;

}

.modal-content {

    border-width: 2px 3px 3px 5px;
    border-radius: 4% 0% 6% 0%/0% 4% 0% 5%;

    font-family: "Patrick Hand SC";
    font-style: italic;
}

/*gamesessionNew styles */

.create-game {

    color: #4e555b;
    font-family: "Patrick Hand SC";
    font-size: 20px;
    font-style: italic;

}

.h2-black {
    color: #000000;
}

.strip {
    border: 10px solid #ffffff;
}

.strip-left {

    border-left: 10px solid #ffffff;
}

.vignette {
    border: 2px solid #1b1b1b;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 4% 0% 6% 0%/0% 4% 0% 5%;
    width: 100%;

}

#description-label, #title-label, #game-label {
    margin: 5px;
    padding: 5px;
    background: #fcffb3;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
}

#title-label {
    width: 105%;
}

/*utils*/
.nopadding {
    padding: 0%;

}

.padding-5px-left {
    padding-left: 5px;

}

.padding-5px-right {
    padding-left: 5px;

}

.white-bg {
    background-color: #ffffff;

}

p, a {
    font-family: "Patrick Hand SC";

}

.text-orders {
    float: left;
    width: 48%;
    margin: 1%;
}

.all-auto {

    height: 100%;
    width: 100%;
    float: right !important;
}

.fs50px {
    font-size: 50px;
}
